@{
    ViewBag.Title = "title";
}
<div class="container green">
    <div class="row">
        <div class="col-md-12"><h3 class="text-uppercase red bold calibri text-center letter-space">Республика Беларусь</h3></div>
        <div>
            <ul class="list-inline text-center spacing">
                <li><a href="http://www.mil.by/ru/">Русская версия</a></li>
                <li><a href="http://www.mil.by/by/">Беларуская версія</a></li>
                <li><a href="http://www.mil.by/en/">English version</a></li>
            </ul>
        </div>
    </div>
    <div class="row margin-small">
        <div class="col-md-3">
            <div class="white text-center">Официальные Интернет ресурсы</div>
            <div>
                <div class="row">
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/1.jpg")" /></div>
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/2.jpg")" /></div>
                </div>
            </div>
            <div>
                <div class="row margin-small">
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/3.jpg")" /></div>
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/4.jpg")" /></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="white text-center">Образовательные Интернет ресурсы</div>
            <div>
                <div class="row">
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/5.jpg")" /></div>
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/6.jpg")" /></div>
                </div>
            </div>
            <div>
                <div class="row margin-small">
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/7.jpg")" /></div>
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/8.jpg")" /></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="white text-center letter-space">СМИ</div>
            <div>
                <div class="row">
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/9.jpg")" /></div>
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/10.jpg")" /></div>
                </div>
            </div>
            <div>
                <div class="row margin-small">
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/11.jpg")" /></div>
                    <div class="col-md-6"><img class="small-image" src="@Url.Content("~/Content/images/12.jpg")" /></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="white text-center">Мировые новости</div>
            <div>
                <div class="row">
                    <div class="col-md-6"><a href="http://mail.ru/">Новости России</a></div>
                    <div class="col-md-6"><a href="http://mail.ru/">Новости Европы</a></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6"><a href="http://mail.ru/">Новости Востока</a></div>
                    <div class="col-md-6"><a href="http://mail.ru/">Новости США</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-middle">
        <div class="col-md-4">
            <div><p class="white">Новости науки</p></div>
            <div><a href="http://www.mil.by/ru/">Новости центра молодежной науки</a></div>
            <div><a href="http://www.mil.by/ru/">Новости науки и технологий</a></div>
        </div>
        <div class="col-md-3">
            <div><p class="white">Новости науки</p></div>
            <div><a href="http://www.mil.by/ru/">Новость 1</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 2</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 3</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 4</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 5</a></div>
        </div>
        <div class="col-md-5">
            <div><p class="white">Новости СУЗов и ПТО</p></div>
            <div><a href="http://www.mil.by/ru/">Новость 1</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 2</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 3</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 4</a></div>
            <div><a href="http://www.mil.by/ru/">Новость 5</a></div>
        </div>
    </div>
    <div class="row margin-middle">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <a href="@Url.Content("~/Content/images/13.jpg")">
                        <img class="big-image" src="@Url.Content("~/Content/images/13.jpg")" />
                    </a>
                </div>
                <div class="col-md-8"><a href="@Url.Content("~/Content/images/13.jpg")" class="bottom-text">Беларусь спортивная</a></div>
            </div>
        </div>
    </div>
    <div class="row margin-small">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <a href="@Url.Content("~/Content/images/13.jpg")">
                        <img class="big-image" src="@Url.Content("~/Content/images/14.jpg")" />
                    </a>
                </div>
                <div class="col-md-8"><a href="@Url.Content("~/Content/images/14.jpg")" class="bottom-text">Беларусь   туристическая</a></div>
            </div>
        </div>
    </div>
    <div class="row margin-small">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <a href="@Url.Content("~/Content/images/13.jpg")">
                        <img class="big-image" src="@Url.Content("~/Content/images/15.jpg")" />
                    </a>
                </div>
                <div class="col-md-8"><a href="@Url.Content("~/Content/images/15.jpg")" class="bottom-text">Беларусь   туристическая</a></div>
            </div>
        </div>
    </div>
</div>